@import url(https://fonts.googleapis.com/css?family=Fredoka+One:100&display=swap);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css);
body {
    background: #383c3c;
  }
.CopyButton{
    background-color: #6064f4;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fredoka One', serif;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    left:606px;
    bottom: -37px;
}
.alert{
    position:static;
    margin: auto;
    background-color: #2f3136;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Fredoka One', serif;
    font-weight: 100;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
    
}
.DISCORDID {
    font-family: 'Fredoka One', serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 100;
    color: white;
    position: absolute;
    left:600px;
}
.card {
    background-color: rgb(36,36,33);
    width: 250px;
    border-radius: 10px;
    box-shadow: #2f3136;
    float: center;
}

.adjust {
    padding: 16px;
}

.text-white {
    font-family: 'Fredoka One', serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 100;
}
.second {
    padding: 9px;
    padding-right: 0px;
    background-color: #2f3136;
    width: 250;
}

.third {
    padding: 9px;
    padding-right: 0px;
    background-color: #6064f4;
    width: 250;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.text-social {
    font-family: 'Fredoka One', serif;
    color: white;
    text-align: left;
    text-align: left;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0px;
    letter-spacing: 1.3px;
}

.social {
    float: left;
    margin: 14px;
}

.youtube {
    margin-left: 5px;
}

.btn {
    height: 60px;
    width: 200px;
    margin: 0rem;
    padding: 0;
    border: none;
    box-shadow: none;
    float: left;
    border-radius: 5px;
    margin-top: 5px;
    text-transform: none;
}

.text-server {
    font-family: 'Fredoka One', serif;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 100;
    color: #fff;
    float: left;
}